@import url(reset.css);
@import url(base.css);
@import url(layout.css);
@import url(modules.css);
/* all */
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  display: table;
  background-color: rgb(114, 114, 114);
}
/* ***********header*********** */
header {
  display: block;
  background-color: rgb(17, 17, 17);
  height: 110px;
}
header h2 {
  color: wheat;
  float: left;
  line-height: 110px;
  font-size: 40px;
  margin-left: 50px;
}
.btn {
  margin-right: 30px;
  margin-top: 30px;
  color: rgba(240, 218, 179, 0.76);
  font-size: 35px;
  float: right;
  cursor: pointer;
}
.hide {
  display: none;
}
.headerli {
  display: grid;
  width: 100%;
  grid-auto-rows: minmax(50px, auto);
  justify-items: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  opacity: 0.99;
}

.headerli a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
}
/* *********** end header*********** */

/* *********** Main *********** */
/* ***** base main ******  */
main {
  display: table-row;
  height: 100%;
}
.a h4 {
  font-size: 25px;
  line-height: 110px;
  color: wheat;
  text-align: center;
}
.a {
  height: 110px;
  background-color: rgb(59, 59, 59);
}
/* ***** end base main ******  */

/* ***** searches main*****  */
.template {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
  margin: 60px 0px;
}
.card {
  box-sizing: border-box;
  background-color: rgb(163, 163, 163);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 450px;
  box-shadow: rgb(6 24 44 / 40%) 0px 5px 6px 4px,
    rgb(6 24 44 / 65%) 0px 0px 8px -6px;
  border-radius: 5px;
  overflow: hidden;
}
/* *** scroll*** */
/* .card::-webkit-scrollbar {
    width: 20px;
  }
  
  Track
  .card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  Handle
  .card ::-webkit-scrollbar-thumb {
    background: rgb(10, 10, 10); 
    border-radius: 10px;
  }
  
  Handle on hover
  .card::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a; 
  } */
.img-container {
  margin-top: 20px;
}
img {
  width: 150px;
  height: 220px;
}
.template h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #0f0f0f;
}
.template p {
  color: rgb(59, 59, 59);
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}
.description {
  height: 2em;
  /* width: 17em;  */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  /* white-space:pre-wrap */
}
.submit,
a {
  background-color: black;
  color: white;
  width: 280px;
  height: 50px;
  font-size: 17px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}

/* <style> */
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="radio"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

.search {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* *****  end searches main*****  */
/* *****  end new search main*****  */
.search {
  box-sizing: border-box;
}
#forsearch {
  display: grid;
  grid-template-rows: repeat(auto-fit, 70px);
  justify-items: center;
  align-items: center;
}

/* ***** footer*****  */
footer {
  height: 100px;
  background-color: rgb(17, 17, 17);
}
.footerli {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.fig {
  font-size: 25px;
  color: rgba(240, 218, 179, 0.76);
}
/* ***** end footer ***** */
