<header>
    <h2>Best Books!</h2>
    <div><i class="fas fa-bars btn"></i></div>
    <div class="show hide">
        <ul class="headerli hide">
            <li><a href="/">Home Searches</a></li>
            <li><a href="/searches/new">Search from API Books</a></li>
        </ul>
    </div>

</header>